[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "tinyobjloader-c"]
	path = tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "thirdparty/tinyobjloader-c"]
	path = thirdparty/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "thirdparty/bitsquid-foundation-git"]
	path = thirdparty/bitsquid-foundation-git
	url = https://github.com/Geenz/bitsquid-foundation-git.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
