[submodule "thirdparty/tbb"]
	path = thirdparty/tbb
	url = git@github.com:wjakob/tbb.git
[submodule "thirdparty/presh-locks"]
	path = thirdparty/presh-locks
	url = git@github.com:preshing/cpp11-on-multicore.git
[submodule "thirdparty/cpp11-on-multicore"]
	path = thirdparty/cpp11-on-multicore
	url = git@github.com:preshing/cpp11-on-multicore.git
